body{
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items : center;
  min-height: 100vh;
}
.border {
  justify-content: center;
	background-color : "white"; 
	border : 1px solid black;
	padding : 12px;
	box-shadow : 0 5px 0 2px grey;
  width: 600px;
}
.container{
  display: grid;
  place-items : center;
}